.subscribe-button {
  background-color: rgb(198, 0, 0);
  color: white;
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.2s;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(0, 132, 255);
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 132, 255);
  height: 30px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  transition:
    background-color 0.15s,
    color 0.15s;
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-button:active {
  opacity: 0.8;
}

.tweet-button {
  background-color: rgb(0, 132, 255);
  border: none;
  color: white;
  height: 30px;
  width: 74px;
  border-radius: 100px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.tweet-button:active {
  opacity: 0.8;
}
