p {
  /*The content which is written in the paragraph and which are 
        common in all the different categories(like font, margin-top, etc) can be written in this section.*/
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

.video-title {
  font-weight: bold;
  font-size: 20px;
  /*font-family: Arial, Helvetica, sans-serif. No need of wrtting here.*/
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.creator {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 14px;
  width: 280px;
  color: rgb(96, 96, 96);
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(204, 36, 36);

  width: 500px;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  /*text-decoration: underline;*/
}

.shop-now-underline:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
